@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@300&display=swap');

$dark-color: #4a4a4a;
$grey-color: #a0b0b9;
$blue-color: #2196f3;
$box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
$border-radius: 5px;
$font-family: 'Roboto';
