@import '../../variables/variables.scss';

.filters {
  display: flex;
  flex-direction: column;
  width: 232px;
  height: 252px;
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 20px;
  margin-right: 20px;
}
.filters__title {
  font-family: $font-family;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 12px;
  font-weight: 600;
  color: $dark-color;
}

.filters__item {
  height: 40px;
  width: 100%;
  font-family: $font-family;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: $dark-color;
}

.filters__item label:hover {
  cursor: pointer;
}

.filters__item__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.filters__item__checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.filters__item__checkbox + label::before {
  content: '';
  width: 17px;
  height: 17px;
  border: 1px solid #9abbce;
  border-radius: 2px;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.filters__item__checkbox:checked + label::before {
  border-color: $blue-color;
  background-image: url('../../assets/checked.svg');
}
